@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVCWebApplication.Models.Bootstrap5ViewModel;
@{
    ViewData["Title"] = "Bootstrap5";
}
<div>
    <h1>Bootstrap 5</h1>
    @if (Model != null)
    {
        Html.RenderPartial("IsolatedBootstrap5Partial", Model);
    }
   
</div>
